VITE_FIREBASE_API_KEY=AIzaSyCZ316gxX7kO4w0C84NEdqoi9qRihXmQVk
VITE_FIREBASE_AUTH_DOMAIN=spend-tracker-6ea10.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=spend-tracker-6ea10
VITE_FIREBASE_STORAGE_BUCKET=spend-tracker-6ea10.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1004698460797
VITE_FIREBASE_APP_ID=1:1004698460797:web:86fb02e170d5f71e91c714
